@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
  
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 40%;
    margin: 0 auto;
    border: 1px solid purple;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px #715e5e;
    background-color: rgb(195, 190, 190);
}

.page__title{
    display: flex;
    width: 70%;
    margin: 0 auto;
    background: purple;
    justify-content: center;
    color: white;
    margin-bottom: 40px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0px 3px 3px 4px purple;
    font-family: "Roboto", sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
  
.column input {
    margin-bottom: 10px;
    width: 90%;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    border: 1px solid purple;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 1px 2px purple;
    margin-top: 10px;
    text-align: center;
    color: black;
}

.column label{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
}


#resultado {
    position: absolute;
    right: 5%;
    top: 200px;
    border: 3px solid green;
    width: 300px;
    font-size: 15px;
    text-align: center;
}
  
  
#resultado p {
    margin: 5px 0;
}

.page__button{
    position: absolute;
    right: 12%;
    top: 300px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 30px;
    background: grey;
    color: white;
    font-family: "Roboto", sans-serif;
}
